.toolbar {
  &:is(.toolbar) {
    border-top-width: 1px;
    border-top-style: solid;

    flex-wrap: nowrap;
    overflow: auto;
    max-width: 100dvw;
    padding: 8px 16px;
  }

  :global(.mantine-RichTextEditor-control) > svg {
    width: 16px;
    height: 16px;
  }

  &:where([data-variant="subtle"]) {
    :global(.mantine-RichTextEditor-controlsGroup) {
      gap: 4px;
    }

    :global(.mantine-RichTextEditor-control) svg {
      width: 20px;
      height: 20px;
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }

  /* For Firefox */
  scrollbar-width: none;
}
