body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem 0.5rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

svg {
  width: 1.1rem;
  height: 1.1rem;
  stroke-width: 1.5;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
