body {
  margin: 0;
  min-width: 320px;
  min-height: 100dvh;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

svg {
  stroke-width: 1.5;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
